<table style="border: none;width: 100%;margin-bottom: 50px;font-size: inherit;font-family: serif;">
    <tr>
        <td style="width: 40%;text-align: center;border: none;vertical-align: top;">
            <div style="text-align: center;text-transform: uppercase;">Trường Đại Học Tiền Giang</div>
            <div style="text-align: center;text-transform: uppercase;font-weight: bold;">Khoa <?=$monhoc->nganh?></div>
            <div style="width: 50%;border-top:2px solid black;margin:auto;height: 14px;"></div>
            <div class="ma-de" style="text-align: center;text-transform: uppercase;">Mã đề: <b><?=$made?></b></div>
        </td>
        <td style="width: 60%;border: none;vertical-align: top;">
            <div style="text-align: center;text-transform: uppercase;"><b><?=$matrix->name?></b></div>
            <div>Học phần: <b style="text-transform: uppercase;"><?=$monhoc->name?></b></div>
            <div>Mã học phần: <b><?=$monhoc->mamonhoc?></b></div>
            <div>Thời gian làm bài: <b><span class="h-time-edit"></span> phút</b></div>
        </td>
    </tr>
</table>

